# Treat Blender and other binary files as binary
*.blend binary
*.blender binary
*.fbx binary
*.obj binary
*.stl binary
*.dae binary
*.3ds binary
*.ply binary
*.gltf binary
*.glb binary
*.zip binary
*.tar binary
*.gz binary
*.7z binary
*.png binary
*.jpg binary
*.jpeg binary
*.tif binary
*.tiff binary
*.bmp binary
*.exr binary
*.mov binary
*.mp4 binary
*.avi binary
*.wav binary
*.mp3 binary
*.flac binary
*.ogg binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary
